<div class="gameField">
  <canvas #myCanvas width="1280" height="720"></canvas>
</div>
<div class="panel">
  <button (click)="game.toggleStartPause()">{{game.running ? '(running) Stop' : '(paused) Run'}}</button>
</div>
<div class="panel">
  <!--<input type="text" *ngModel="aTxt">-->
  <button (click)="setAngle()">PI * {{angle}} --></button>
  <button (click)="changeAngle(+0.1)">+</button>
  <button (click)="changeAngle(-0.1)">-</button>
</div>
<div class="panel">
  <button (click)="toggleRotation()">rotation</button>
</div>


<p>frames / sec: {{game.framesPerSecond }}</p>
<p>turns / sec: {{game.turnsPerSecond}}</p>
<p>frame duration: {{game.lastFrameDuration}}</p>
<p>CachedFilmGameObject: {{CachedFilmGameObjectFCL()}}</p>
<p>gameObjects : {{game.gameObjects.length}}</p>
